/* reset rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* fine reset rules */

/* debugging section */
.debug .container {
    border: 2px dashed tomato;
    padding: 15px;
}

.debug .row, .debug .col {
    border: 2px dashed cornflowerblue;
    padding: 15px;
}

.debug header {
    background-color: cyan;
}

/* fine debugging section */

/* high-level layout rules */
.full-container {
    background-color: lightgrey;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.home-main {
    min-height: 500px;
}

.home-footer {
    min-height: 250px;
}

.row {
    display: flex;
}
/* fine layout rules */

/* layout header (2 sec: nav + header) */
.row-nav {
    justify-content: space-between;
    text-align: center;
}

.row-nav > .col-links {
    flex-grow: 1;
}

.row-nav > .col:not(.col-links) {
    flex-basis: calc(100% / 5);
}

.row-header{
    justify-content: center;
}

.row-header > .col {
    flex-basis: 700px;
    min-height: 200px;
}
/* fine layout header */

/* layout main (3 double-col sections + 1 mono-col) */
.row-main-2-col > .col {
    flex-basis: calc(100% / 3);
    min-height: 200px;
}

/* .row-main-2-col > .col:first-child {
    flex-basis: calc((100% / 3) * 2);
    min-height: 200px;
} */
/* 
.row-main-2-col:nth-child(2) {
    flex-direction: row-reverse;
} */

.row-main-1-col > .col {
    flex-basis: 100%;
    min-height: 200px;
}

.bg-main:nth-child(odd) {
    background-color: white;
}

/* fine layout main */

/* layout footer, 2 sections (1 info section, 1 logo+button) */
.bg-foot {
    background-color: black;
    color: white;
}

.row-foot-5-col > .col {
    flex-basis: calc(100% / 6);
    min-height: 100px;
}

.row-foot-5-col > .col:first-child {
    flex-basis: calc((100% / 6) * 2);
    min-height: 250px;
}

.row-foot-2-col {
    justify-content: space-between;
}

.row-foot-2-col > .col {
    flex-basis: calc(100% / 5);
    text-align: center;
}

/* fine layout footer */