/* reset rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* fine reset rules */

/* debugging section */
.debug .container {
    border: 2px dashed tomato;
    padding: 15px;
}

.debug .row, .debug .col {
    border: 2px dashed cornflowerblue;
    padding: 15px;
}

/* fine debugging section */

/* high-level layout rules */
.full-container {
    background-color: lightgrey;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.home-main {
    min-height: 500px;
}

.home-footer {
    min-height: 250px;
}
/* fine layout rules */

/* layout header */
.row-header {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.row-header > .col-links {
    flex-grow: 1;
}

.row-header > .col:not(.col-links) {
    flex-basis: calc(100% / 5);
}

/* fine layout header */